.navbar {
  padding: 0px 120px;
}

.left-col {
  display: flex;
  justify-content: flex-end;
}

.byline{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000000;
  top: 50px;
  left: 100px;
}

.byline-title {
  background-color: #86bbfd;

}

.img-story {
  position: relative;
}

#article-tile {
  width: 100%;
  margin: 0.5em;
  display: flex;
}

#article-tile img {
  max-width: 100%;
  box-shadow: 5px 10px 10px #888;
  width: 100%;
  height: 100%;
  max-height: 373px;
  max-width: 600px;
}

.new-post-btn {
  margin-left: 35px;
}

.admin-post-list {
  list-style: none;
  font-size: 1.25em;
}

.admin-post-list li {
  border-bottom: 1px dotted;
  margin-top: 10px;
  color: black;
}

.admin-post-list li a {
  color: black;
}


.admin-post-list li a:hover {
  background-color: #AAA;
  color: #EEE;
}
