<h1>Edit a post</h1>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    
  </div>

</form>





title: DS.attr(),
author: DS.attr(),
category: DS.attr(),
content: DS.attr(),
image: DS.attr(),
timestamp: DS.attr()
