<div class="row">
  <div class="col-md-4">
    {{#link-to 'admin.new'}}<button class="btn btn-lg btn-default new-post-btn">New Post</button>{{/link-to}}
    {{admin-list-posts articles=model}}
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
